*{
    box-sizing: border-box;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}

body{
    
    margin: auto;
}
/* .............media queries (*semiresponsive)..........*/
@media screen and (max-width:960px){
    body{
        width: 80%;
    }

    footer{
        display: flex;
        background:rgb(38, 39, 35);
        flex-direction: column-reverse !important;
    }

    #top-content-area{
        display: flex;
        flex-direction: column;
    }

    #little-gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #bottom-content-area{
        display: flex;
        flex-direction: column;
    }

}
/*---------------------------------------------------*/
.top-wrapper{
    background: rgb(38, 39, 35);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-box{
    background: transparent;
}

#logo-box img{
    height: 50px;
}

#logo-box a{
    text-decoration: none;
    font-size: 0.8rem;
    margin: 10px;
    color: beige;
}

#logo-box a:visited{
    color: beige;
    font-size: 0.8rem;
}

#top-menu{
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}

#my-menu ul{
  margin-top: 7px;
  margin-bottom: 10px;
}

#search-block{
    margin-left: 60%;
    margin-top: 8px;
} 

#search-input{
    border: 1px solid beige;
    width: 60%;
}

.btn{
    background: rgb(125, 150, 14);
    color: beige;
    border: 1px solid beige;
    margin: 5px;
}

.navbar-link{
    font-size: 0.8rem;
    padding: 10px;
    list-style: none;
    display: inline-flex;
    color: beige;
    font-weight: 100;
    margin-right: 10px;
    margin-left: 20px;
}

.navbar-link a{
    text-decoration: none;
}

.navbar-link a:hover::before{
    content: '';
    position: absolute;
    transform: rotate(90deg) translateY(2px);
    margin-left: 25px;
    height: 40px;
    border: 0.5px solid white;
    background: #fff;
    
}

.navbar-link a:visited{
    color: beige;
}
/* ............CONTENT AREA.................. */
#content-area{
    
}
#top-content-area{
    display: flex;
    background: rgb(125, 150, 14);
}

#top-left-block{
    padding:20px 10px;
}

#left-top{
    display: block;
    margin: auto; 
    width: 100%;
    max-height: 240px;
}

#top-right-block{
    display: block;
    margin: auto;
    
}

#little-gallery{
    display: flex;
    flex-wrap: column;
    justify-content: space-around;
}

.right-top-top{
    
}

#top-right-bot{
    display: flex;
    background: rgb(38, 39, 35);
    padding: 20px;
    color: beige;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    width: 92%;
}

#top-right-bot .img-top{
    
}

.img-top{
    border: 1px solid black;
    padding: 5px;
}

#bottom-content-area{
    display: flex;
}

.col-3-bot{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: beige;
    width: 100%;
    color: dimgray;
}

.col-3-bot h2{
    margin-bottom: 5px;
}

.col-3-bot hr{
    margin-bottom: 10px;
}

.col-3-bot p{
    margin-bottom: 20px;
}

footer{
    display: flex;
    background:rgb(38, 39, 35);
    flex-direction: row;
}

footer h2{
    padding-top: 15px;
    padding-bottom: 10px;
    color:beige;
}

footer hr{
    border: 0.5px solid beige;
    width: 90%;
}

#suscription-block{
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    padding-left: 10px;
}

#suscription-block p{
    color: beige;
}

#suscription-block a{
    text-decoration: none;
    color: beige;
}

.col-3-footer{
    flex: 1;
}

.col-3-footer hr{
    border: 0.5px solid beige;
    width: 90%;
}

.col-3-footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 50px; 
}

.col-3-footer ul li{
    color:rgb(125, 150, 14);
}

#email-input{
    border:1px solid beige;
}

#info-dev{
    background: rgb(60, 63, 63);
}
